@charset "utf-8";

/**
 * Reset
 */
@import "reset.css";


body{
	margin : 0 auto;
	height: auto;
}
/**
  header
**/
header{
  height : 652px;
  background-image:  url("../assets/img/banner-lion.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  color : white;
  font-family : arial;
  font-weight : bold;
}

.header-logo h1{
  font-size : 1.8rem;
  margin-left:  3%;
  font-family: 'Arial';
  padding-top : 4.5vh;
  float : left;
}

.header-sandwich{
  float : right;
  margin : 4.5vh 3%;
}

.header-sandwich span{
	display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
}

.carrousel-button span{
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.carrousel-button span:nth-child(1){
  float: left;
  margin-top : 50vh;
  margin-left : -10vw;
}

.carrousel-button span{
  float : right;
  margin-top : 50vh;
  margin-right : -5vw;
}

.header-title{
  padding-left : 19vw;
  padding-top : 33vh;
}

.header-title--welcome{
  margin-bottom : 7vh;
  
}

.header-title--agency_name{
  font-size: 2.9rem;
  width : 20%;
}

.header-title--description{
  font-size : 0.65rem;
  margin-left : 5px;
  width : 22%;
  margin-top : 2vh;
  line-height: 2vh;
  color : #cdcdcd; #1c1c1c
}

.header-title span{
  color : #cdcdcd;  
}

.header-title--icon a {
  text-decoration:none; 
  border-radius: 50%;
  display: block; 
  height: 22px;
  width: 22px;
  border : white solid 2px;
  margin-top : 6vh;
  margin-left : 0.5vw;
}

.header-title--icon a::after{
	content:"\25BC"; 
  display: block;
  color: white;
  font-weight: bold;
  font-size: 1.2rem; 
  text-align: center;
}

.carrousel-points{
  text-align: center;
  margin-top : 17vh;
}

.carrousel-points span{
  font-size: 1.5rem;
}

/*body*/
.container{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  font-family: arial;
}


.body-about,.body-gallery, .body-logos{
  margin-left : 9.2%;
  margin-right : 9%;
}
/**
sections
**/
.section-about--left img{
  width : 43%;
  float : right;
  margin-top : 162px;
}

.section-about--left>section,.section-about--left>img{
  margin-bottom: 125px;
}

.section-about--left>section{
  float: left;
  width : 48%;
  margin-top : 215px;
}

.section-about--left>section>span{
  letter-spacing: 7px;
  font-size : 1.2rem;
}

.section-about--left>section>h2{
  margin-top : 17px;
  font-size: 3rem;
  letter-spacing: 0px;
  font-weight: bold;
}

.section-about--left--description{
  margin-top : 31px;
  font-size: 0.8rem;
}

.section-about--left--description>p{
  width : 70%;
  float : right;
  line-height: 15px;
}

.section-about--left--description>span{
  width : 23%;
  float : left;
  border-bottom: solid 3px black;
}

.section-about--left--counter{
  margin-top : 163px;
  font-weight: bold;
}

.section-about--right img{
  width : 43%;
  float : left;
  margin-top : 35px;
}

.section-about--right>img, section{
  margin-bottom: 165px;
}

.section-about--right>section{
  float: right;
  width : 50%;
  margin-top : 90px;
  text-align: right;
}

.section-about--right>section>span{
  letter-spacing: 7px;
  font-size : 1.2rem;
}

.section-about--right>section>h2{
  margin-top : 17px;
  font-size: 3rem;
  letter-spacing: 0px;
  font-weight: bold;
}

.section-about--right--description{
  margin-top : 31px;
  font-size: 0.8rem;
} 

.section-about--right--description>p{
  width : 70%;
  float : right;
  line-height: 15px;
}

.section-about--right--counter{
  margin-top : 163px;
  font-weight: bold;
}
/**
Gallerie
**/
.body-gallery--heading{
  margin-top : 0px;
}

.body-gallery--heading-title>span{
 font-size: 1.2rem;
  letter-spacing: 4.5px;
  margin-bottom: 60px;
}

.body-gallery--heading-title>h2{
  font-size: 3rem;
  font-weight: bold;
  margin-top : 10px;
  margin-bottom : 45px;
}

.gallery-navbar>a{
  text-decoration: none;
  color : #cdcdcd;
  font-size: 0.9rem;
  margin-right : 8px;
}

.gallery-navbar>a:first-of-type{
  color : black; 
}

.body--gallery-main--firstRow img{
  width : calc(33% - 30px);
  margin-left : 20px;
  margin-top : 20px;
  margin-bottom: 0px;
}

.body--gallery-main--secondRow img:first-of-type{
  width : calc(33% - 30px);
  margin-left : 20px;
  float: left;
}

.body--gallery-main--secondRow img{
  margin-left : 20px;
  float: left;
  margin-top : 20px;
}

.body--gallery-main--thirdRow>img:first-of-type{
  width : calc(33% - 15px);
  margin-top : 15px;  
  float : left; 
}

.body--gallery-main--thirdRow>.thirdRow--column img{
  width: calc(33% - 15px);
  margin-top : 15px;
  margin-left : 15px;
}

.body--gallery-main--fourthRow>img:first-of-type{
  width : calc(33% - 30px);
  float: left;
  margin-top : 225px;  
  margin-left : -240px;
}

.fourthRow--secondColumn{
  float : right;
  width : 33%;
}

.fourthRow--secondColumn img{
  width : 90%;
}

.gallery--view-projects{
  margin-top : 45px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 80px;
}

.body-logos img{
  width : calc(20% - 30px);
  margin : 13px;
  margin-bottom : 0px;
}

footer{
  background-color : #1c1c1c;
  margin-top : 45px;
  padding-top : 45px;
  padding-bottom: 45px;
}

.footer-logos{
  text-align: center;
}

.footer-logos img{
  width : 2%;
}

.footer-text{
  text-align: center;
  font-family: arial;
  color : white;
  font-size : 0.7rem;
  margin-top : 15px;
}

.footer-text>span:nth-child(2){
  font-weight: bold;
}

/*reorganisation des colonnes du site*/
@media (max-width : 800px){
   .container{
    max-width : 500px;
  }
  
  .header-title--agency_name{
    width: 100%;
    text-align: center;
  }
  
  .carrousel-button>span{
    margin : 0px;
  }
  
  .body-about>.section-about--left>section{
    margin-top : 20px;
  }
  
  .body-about>.section-about--right>section{
    margin-top : 20px;
  }
  
  .body--gallery-main--firstRow>img{
    width : calc(30% - 30px);
  }
  
  .body--gallery-main--secondRow>img{
    width : calc(20% - 30px);
    margin : 0px;
  }
  
  .body--gallery-main--secondRow>img:nth-child(2){
    width : calc(70% - 30px);
  }
  
  .body--gallery-main--thirdRow>img{
    width : 50%;
    position: relative;
    top: 530px;
    left: 32%;
  }
  
  .body--gallery-main--thirdRow>.thirdRow--column>img{
    width: calc(50% - 30px);
  }
  
  .body--gallery-main--fourthRow>div{
    width: 100%;
  }
}